In [1]:
import pandas as pd
import psycopg2
import numpy as np
import os
import sql as gd
import psycopg2 # Needed to get database errors when uploading dataframe
import sqlalchemy as sqla

In [4]:
test= pd.read_csv('data/formatted_population_kreise.csv', index_col=0, converters={'key': lambda x: str(x)})
test

,key,kreis,year,unter 3 Jahre,3 bis unter 6 Jahre,6 bis unter 10 Jahre,10 bis unter 15 Jahre,15 bis unter 18 Jahre,18 bis unter 20 Jahre,20 bis unter 25 Jahre,25 bis unter 30 Jahre,30 bis unter 35 Jahre,35 bis unter 40 Jahre,40 bis unter 45 Jahre,45 bis unter 50 Jahre,50 bis unter 55 Jahre,55 bis unter 60 Jahre,60 bis unter 65 Jahre,65 bis unter 75 Jahre,75 Jahre und mehr
0,01001,"Flensburg, SK",2000,2339,2442,3288,4363,2364,1967,6194,6067,7239,6427,5532,5149,5084,5030,5952,7472,7372
1,01002,"Kiel, SK",2000,6214,5846,8171,10181,5385,4421,16239,19372,22623,21377,17356,14545,13473,13896,15016,19026,19471
2,01003,"Lübeck, SK",2000,5900,5889,7965,10142,5572,4312,12348,14080,17794,17236,14644,13055,13002,13536,15951,21380,20593
3,01004,"Neumünster, SK",2000,2527,2436,3505,4606,2353,1767,4439,4856,6350,6514,5476,4886,4828,5145,5889,7516,6738
4,01051,"Dithmarschen, LK",2000,4320,4682,6340,8237,4504,3108,6822,7490,10763,10725,9733,8711,8341,8118,10429,13698,11153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,16073,"Saalfeld-Rudolstadt, LK",2020,2161,2504,3398,3942,2362,1517,3323,2781,5615,5952,5773,5802,7665,9557,9092,14619,16076
9992,16074,Saale-Holzland-Kreis,2020,1850,2254,3085,3585,2066,1414,2928,2267,4641,5318,5119,4859,6445,7671,7002,11280,11032
9993,16075,Saale-Orla-Kreis,2020,1756,2041,2760,3392,1907,1248,2748,2351,4322,4825,4692,4718,6111,7463,7148,11253,10897
9994,16076,"Greiz, LK",2020,1985,2352,3239,3956,2345,1416,2865,2252,4828,5411,5551,5360,7466,9262,8949,14251,15180
9995,16077,"Altenburger Land, LK",2020,1759,2068,2793,3510,2105,1325,2677,2322,4566,4869,4804,5087,7006,8109,7545,13237,14574

In [5]:
from sql import engine

In [6]:
print(engine)

Engine(postgresql+psycopg2://capstone_admin:***@cgn-22-capstone.postgres.database.azure.com:5432/postgres)

In [7]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table
table_name = input('Please enter table name: ')
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This will take a minute or two...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        test.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        # schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The formatted_population_kreise_2000_2020 table was imported successfully.

In [ ]:
# Copy get_data() and implement read_sql_query()
def get_data(query):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # create a connection to the PostgreSQL server
        conn = psycopg2.connect(host=os.getenv("host"),
                        port=os.getenv("port"),
                        database=os.getenv("database"),
                        options='-c search_path=' + os.getenv("schema"), # this special looking parameter is for the schema
                        user=os.getenv("user"),
                        password=os.getenv("password"))
		
        x = pd.read_sql_query(query,conn)
       
	    # close the connection to the PostgreSQL database
        conn.close()

        return x

    # the code below makes the function more robust, you can ignore this part
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [ ]:
get_data('SELECT * FROM testsql LIMIT 5')