In [2]:
# %cd ..

import requests
import pandas as pd
import json
from cred import credentials
from request_api import get_genesis_api

In [9]:
result, dataframes = get_genesis_api('12421-0004', list(range(2019,2051)), skiprows=5, return_dictionary=True)

Dumping concatenated DF

In [23]:
for year in range(2019, 2051):
    dataframes[year].columns = ['state', 'scenario', 'extra', 'gender', 'age', 'population']
    dataframes[year]['year'] = [year] * dataframes[year].shape[0]
df_pred_all = pd.concat(dataframes.values(), axis=0)

In [24]:
df_pred_all

,state,scenario,extra,gender,age,population,year
0,Baden-Württemberg,BEV-VARIANTE-01,"Mod. birth rate a. life exp.,low mig.bal. (G2L...",Male,under 1 year,56,2019
1,Baden-Württemberg,BEV-VARIANTE-01,"Mod. birth rate a. life exp.,low mig.bal. (G2L...",Male,1 year,56,2019
2,Baden-Württemberg,BEV-VARIANTE-01,"Mod. birth rate a. life exp.,low mig.bal. (G2L...",Male,2 years,56,2019
3,Baden-Württemberg,BEV-VARIANTE-01,"Mod. birth rate a. life exp.,low mig.bal. (G2L...",Male,3 years,56,2019
4,Baden-Württemberg,BEV-VARIANTE-01,"Mod. birth rate a. life exp.,low mig.bal. (G2L...",Male,4 years,54,2019
...,...,...,...,...,...,...,...
14683,Thüringen,BEV-VARIANTE-03,"Mod. birth rate a. life exp.,high mig.bal.(G2L...",Total,97 years,2,2050
14684,Thüringen,BEV-VARIANTE-03,"Mod. birth rate a. life exp.,high mig.bal.(G2L...",Total,98 years,2,2050
14685,Thüringen,BEV-VARIANTE-03,"Mod. birth rate a. life exp.,high mig.bal.(G2L...",Total,99 years,1,2050
14686,Thüringen,BEV-VARIANTE-03,"Mod. birth rate a. life exp.,high mig.bal.(G2L...",Total,100 years and over,2,2050
14687,Thüringen,BEV-VARIANTE-03,"Mod. birth rate a. life exp.,high mig.bal.(G2L...",Total,Total,1814,2050