In [3]:
import requests
import os
import pandas as pd
from IPython.core.display import HTML
import json
from cred import credentials

In [57]:
# to connect to the Genesis API via data/table endpoint
de_request_url = f'https://www-genesis.destatis.de/genesisWS/rest/2020/data/table'
de_request_params = {
    'username': username,
    'password': password,
    "name": "12411-0001",
    "area": "all",
    "compress": "false",
    "transpose": "false",
    "startyear": "",
    "endyear": "",
    "timeslices": "",
    "regionalvariable": "",
    "regionalkey": "",
    "classifyingvariable1": "",
    "classifyingkey1": "",
    "classifyingvariable2": "",
    "classifyingkey2": "",
    "classifyingvariable3": "",
    "classifyingkey3": "",
    "job": "false",
    "stand": "01.01.1970",
    "language": "en" ,
}
# save the response
de_response = requests.get(url=de_request_url, params=de_request_params)
# to save the response as json in a file called "r_population.json" 
with open('data/r_population.json', 'w') as f:
    # json.dump(de_response.json(), f, indent=2)
    f.write(json.dumps(de_response.json(), indent=2))
# to save the part of response (the table) as a csv called "r_population.csv" 
with open('data/r_population.csv', 'w') as csv_file:
    csv_file.write(de_response.json()['Object']['Content'])

In [27]:
# request the population of the 2015-2020 for all Landcrises 
for year_diff in range(6):
    year = f'{2015 + year_diff}'
    de_request_url = f'https://www-genesis.destatis.de/genesisWS/rest/2020/data/table'
    de_request_params = {
        'username': username,
        'password': password,
        "name": "12411-0018",
        "area": "all",
        "compress": "false",
        "transpose": "false",
        "startyear": year,
        "endyear": year,
        "timeslices": "",
        "regionalvariable": "",
        "regionalkey": "",
        "classifyingvariable1": "",
        "classifyingkey1": "",
        "classifyingvariable2": "",
        "classifyingkey2": "",
        "classifyingvariable3": "",
        "classifyingkey3": "",
        "job": "false",
        "stand": "01.01.1970",
        "language": "en" ,
    }
    # to save the response as json in a file called "r_population_kries_year.json"
    de_response2 = requests.get(url=de_request_url, params=de_request_params)
    with open(f'data/r_population_kreis_{year}.json', 'w') as f2:
        json.dump(de_response2.json(), f2, indent=2)

    # to save the part of response (the table) as a csv called "r_population_kreis_year.csv" 
    with open(f'data/r_population_kreis_{year}.csv', 'w') as csv1_file:
        csv1_file.write(de_response2.json()['Object']['Content'])

In [58]:
# create a dictionary to convert all six csv files as data frames
dataframes = {}
for year in range(2015,2021):
    dataframes[year] = pd.read_csv(f'data/r_population_kreis_{year}.csv', skiprows=6, skipfooter=4, delimiter=';')

/var/folders/_k/3v2l6rmd5m3gnk2prt6lj__h0000gn/T/ipykernel_11678/2031973037.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dataframes[year] = pd.read_csv(f'data/r_population_kreis_{year}.csv', skiprows=6, skipfooter=4, delimiter=';')
/var/folders/_k/3v2l6rmd5m3gnk2prt6lj__h0000gn/T/ipykernel_11678/2031973037.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dataframes[year] = pd.read_csv(f'data/r_population_kreis_{year}.csv', skiprows=6, skipfooter=4, delimiter=';')
/var/folders/_k/3v2l6rmd5m3gnk2prt6lj__h0000gn/T/ipykernel_11678/2031973037.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dataframes[year] = pd.read_csv(f'data/r_population_kreis_{year}.csv', skiprows=6, skipfooter=4, delimiter=';')
/var/folders/_k/3v2l6rmd5m3gnk2prt6lj__h0000gn/T/ipykernel_11678/2031973037.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dataframes[year] = pd.read_csv(f'data/r_population_kreis_{year}.csv', skiprows=6, skipfooter=4, delimiter=';')
/var/folders/_k/3v2l6rmd5m3gnk2prt6lj__h0000gn/T/ipykernel_11678/2031973037.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dataframes[year] = pd.read_csv(f'data/r_population_kreis_{year}.csv', skiprows=6, skipfooter=4, delimiter=';')
/var/folders/_k/3v2l6rmd5m3gnk2prt6lj__h0000gn/T/ipykernel_11678/2031973037.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dataframes[year] = pd.read_csv(f'data/r_population_kreis_{year}.csv', skiprows=6, skipfooter=4, delimiter=';')

In [54]:

# List of the dataframes namely [dataframes[2015], dataframes[2016], dataframes[2017], dataframes[2018], dataframes[2019], dataframes[2020]] 
pdlist = [dataframes[i] for i in range(2015, 2021)] 

# to concate all dataframes in the pdlist
result_kreis_2015_2020 = pd.concat(pdlist, axis=0)
result_kreis_2015_2020

,Unnamed: 0,Unnamed: 1,Unnamed: 2,under 3 years,3 to under 6 years,6 to under 10 years,10 to under 15 years,15 to under 18 years,18 to under 20 years,20 to under 25 years,...,25 to under 30 years.1,30 to under 35 years.1,35 to under 40 years.1,40 to under 45 years.1,45 to under 50 years.1,50 to under 55 years.1,55 to under 60 years.1,60 to under 65 years.1,65 to under 75 years.1,75 years and over.1
0,2015-12-31,1001,"Flensburg, kreisfreie Stadt",1143,1130,1388,1744,1213,1004,3905,...,3336,2406,2197,2329,3028,3089,2864,2487,4570,5413
1,2015-12-31,1002,"Kiel, kreisfreie Stadt",3412,3082,3957,4903,3108,2472,10319,...,12655,9486,7570,6985,8759,8941,7703,6648,11897,13952
2,2015-12-31,1003,"Lübeck, kreisfreie Stadt",2887,2703,3583,4451,3074,2228,6836,...,7494,6663,6439,6444,8480,8869,7572,6736,12933,16189
3,2015-12-31,1004,"Neumünster, kreisfreie Stadt",985,1032,1468,1915,1386,1020,2516,...,2446,2129,2128,2347,3079,3171,2749,2463,4493,5627
4,2015-12-31,1051,"Dithmarschen, Landkreis",1532,1634,2300,3220,2314,1731,3832,...,3150,3118,3351,3707,5556,5739,5084,4612,8051,9458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,2020-12-31,16073,"Saalfeld-Rudolstadt, Landkreis",1114,1303,1755,2010,1193,808,1861,...,1333,2594,2742,2746,2726,3736,4708,4572,7628,9885
472,2020-12-31,16074,Saale-Holzland-Kreis,900,1147,1598,1823,1059,743,1653,...,1050,2339,2547,2442,2313,3049,3853,3532,5838,6455
473,2020-12-31,16075,Saale-Orla-Kreis,907,1042,1385,1780,1000,643,1511,...,1031,2065,2240,2175,2201,2985,3688,3573,5849,6662
474,2020-12-31,16076,"Greiz, Landkreis",1020,1224,1654,2074,1223,764,1625,...,1029,2305,2574,2540,2554,3634,4601,4565,7412,9221
475,2020-12-31,16077,"Altenburger Land, Landkreis",907,1050,1420,1740,1095,689,1485,...,1112,2196,2308,2247,2325,3474,3975,3825,7043,8785

In [52]:
# convert the result data frame of all years to CSV again
result_kreis_2015_2020.to_csv(r'population_kreis_2015_2020.csv', index=False)