In [2]:
import requests
import os
import pandas as pd
import json
from cred import credentials
import numpy as np

from request_api import get_genesis_api

In [5]:
test = get_genesis_api('12411-0014', list(range(2000, 2020)))
test

     Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Germans  \
     Unnamed: 0_level_1 Unnamed: 1_level_1 Unnamed: 2_level_1    Male
0            2000-12-31  Baden-Württemberg       under 1 year   52648
1            2000-12-31  Baden-Württemberg             1 year   48282
2            2000-12-31  Baden-Württemberg            2 years   49526
3            2000-12-31  Baden-Württemberg            3 years   51550
4            2000-12-31  Baden-Württemberg            4 years   50966
...                 ...                ...                ...     ...
1467         2019-12-31          Thüringen           87 years    2908
1468         2019-12-31          Thüringen           88 years    2461
1469         2019-12-31          Thüringen           89 years    2060
1470         2019-12-31          Thüringen  90 years and over    5518
1471         2019-12-31          Thüringen              Total  992489

                       Foreigners                   Total
       Female    Total       Male Female   Total     Male   Female    Total
0       50202   102850       1748   1706    3454    54396    51908   106304
1       45273    93555       7981   7411   15392    56263    52684   108947
2       46826    96352       8128   7813   15941    57654    54639   112293
3       48941   100491       8509   8026   16535    60059    56967   117026
4       48167    99133       8063   7889   15952    59029    56056   115085
...       ...      ...        ...    ...     ...      ...      ...      ...
1467     5591     8499         12     12      24     2920     5603     8523
1468     4962     7423         13      3      16     2474     4965     7439
1469     4803     6863          2      6       8     2062     4809     6871
1470    16994    22512         27     41      68     5545    17035    22580
1471  1029746  2022235      63507  47636  111143  1055996  1077382  2133378

[29440 rows x 12 columns]