In [37]:
import pandas as pd
import psycopg2
import numpy as np
import os
import sql as gd
import psycopg2 # Needed to get database errors when uploading dataframe
import sqlalchemy as sqla

In [38]:
test= pd.read_csv("/Users/sonia/Downloads/population_kreis_2015_2020.csv")
test

,Unnamed: 0,Unnamed: 1,Unnamed: 2,under 3 years,3 to under 6 years,6 to under 10 years,10 to under 15 years,15 to under 18 years,18 to under 20 years,20 to under 25 years,...,25 to under 30 years.1,30 to under 35 years.1,35 to under 40 years.1,40 to under 45 years.1,45 to under 50 years.1,50 to under 55 years.1,55 to under 60 years.1,60 to under 65 years.1,65 to under 75 years.1,75 years and over.1
0,2015-12-31,1001,"Flensburg, kreisfreie Stadt",1143,1130,1388,1744,1213,1004,3905,...,3336,2406,2197,2329,3028,3089,2864,2487,4570,5413
1,2015-12-31,1002,"Kiel, kreisfreie Stadt",3412,3082,3957,4903,3108,2472,10319,...,12655,9486,7570,6985,8759,8941,7703,6648,11897,13952
2,2015-12-31,1003,"Lübeck, kreisfreie Stadt",2887,2703,3583,4451,3074,2228,6836,...,7494,6663,6439,6444,8480,8869,7572,6736,12933,16189
3,2015-12-31,1004,"Neumünster, kreisfreie Stadt",985,1032,1468,1915,1386,1020,2516,...,2446,2129,2128,2347,3079,3171,2749,2463,4493,5627
4,2015-12-31,1051,"Dithmarschen, Landkreis",1532,1634,2300,3220,2314,1731,3832,...,3150,3118,3351,3707,5556,5739,5084,4612,8051,9458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2851,2020-12-31,16073,"Saalfeld-Rudolstadt, Landkreis",1114,1303,1755,2010,1193,808,1861,...,1333,2594,2742,2746,2726,3736,4708,4572,7628,9885
2852,2020-12-31,16074,Saale-Holzland-Kreis,900,1147,1598,1823,1059,743,1653,...,1050,2339,2547,2442,2313,3049,3853,3532,5838,6455
2853,2020-12-31,16075,Saale-Orla-Kreis,907,1042,1385,1780,1000,643,1511,...,1031,2065,2240,2175,2201,2985,3688,3573,5849,6662
2854,2020-12-31,16076,"Greiz, Landkreis",1020,1224,1654,2074,1223,764,1625,...,1029,2305,2574,2540,2554,3634,4601,4565,7412,9221
2855,2020-12-31,16077,"Altenburger Land, Landkreis",907,1050,1420,1740,1095,689,1485,...,1112,2196,2308,2247,2325,3474,3975,3825,7043,8785

In [39]:
from sql import engine

In [40]:
print(engine)

Engine(postgresql+psycopg2://soniashabani:***@data-analytics-course.c8g8r1deus2v.eu-central-1.rds.amazonaws.com:5432/postgres)

In [33]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table
table_name = 'testsql'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This will take a minute or two...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        test.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        # schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The testsql table was imported successfully.

In [42]:
# Copy get_data() and implement read_sql_query()
def get_data(query):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # create a connection to the PostgreSQL server
        conn = psycopg2.connect(host=os.getenv("host"),
                        port=os.getenv("port"),
                        database=os.getenv("database"),
                        options='-c search_path=' + os.getenv("schema"), # this special looking parameter is for the schema
                        user=os.getenv("user"),
                        password=os.getenv("password"))
		
        x = pd.read_sql_query(query,conn)
       
	    # close the connection to the PostgreSQL database
        conn.close()

        return x

    # the code below makes the function more robust, you can ignore this part
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [43]:
get_data('SELECT * FROM testsql LIMIT 5')

/opt/homebrew/Caskroom/miniconda/base/envs/sql-practice/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Unnamed: 0,Unnamed: 1,Unnamed: 2,under 3 years,3 to under 6 years,6 to under 10 years,10 to under 15 years,15 to under 18 years,18 to under 20 years,20 to under 25 years,...,25 to under 30 years.1,30 to under 35 years.1,35 to under 40 years.1,40 to under 45 years.1,45 to under 50 years.1,50 to under 55 years.1,55 to under 60 years.1,60 to under 65 years.1,65 to under 75 years.1,75 years and over.1
0,2015-12-31,1001,"Flensburg, kreisfreie Stadt",1143,1130,1388,1744,1213,1004,3905,...,3336,2406,2197,2329,3028,3089,2864,2487,4570,5413
1,2015-12-31,1002,"Kiel, kreisfreie Stadt",3412,3082,3957,4903,3108,2472,10319,...,12655,9486,7570,6985,8759,8941,7703,6648,11897,13952
2,2015-12-31,1003,"Lübeck, kreisfreie Stadt",2887,2703,3583,4451,3074,2228,6836,...,7494,6663,6439,6444,8480,8869,7572,6736,12933,16189
3,2015-12-31,1004,"Neumünster, kreisfreie Stadt",985,1032,1468,1915,1386,1020,2516,...,2446,2129,2128,2347,3079,3171,2749,2463,4493,5627
4,2015-12-31,1051,"Dithmarschen, Landkreis",1532,1634,2300,3220,2314,1731,3832,...,3150,3118,3351,3707,5556,5739,5084,4612,8051,9458