In [8]:
import pandas as pd
import psycopg2
import numpy as np
import os
import sql as gd
import psycopg2 # Needed to get database errors when uploading dataframe
import sqlalchemy as sqla

Reading csv file

In [ ]:
population=pd.read_csv("data/population2000vs2020.csv",
 delimiter=";", encoding='ISO-8859-1', skiprows=4, header=[0,1],
  skipfooter=4, engine='python' )
population

changing column names

In [ ]:
population.columns=["date", "state", "age", "german_male", "german_female",
 "german_total", "foreigner_male", "foreigner_female", "foreigner_total",
  "total_male", "total_female", "total"]
population

removing the rows with total population for each state

In [11]:
population = population[population.age != "Total"]

removing text from age column

In [ ]:
population = population.assign(age = lambda x: x['age'].str.extract('(\d+)'))
population

change the age data type from object to integer

In [14]:
population['age'] = pd.to_numeric(population['age'])

converting date to datetime

In [ ]:
population['date'] =  pd.to_datetime(population['date'])
population

adding the country column for Tableau map

In [19]:
population["country"]= "Germany"
population

,date,state,age,german_male,german_female,german_total,foreigner_male,foreigner_female,foreigner_total,total_male,total_female,total,country
0,2000-12-31,Baden-Württemberg,1,52648,50202,102850,1748,1706,3454,54396,51908,106304,Germany
1,2000-12-31,Baden-Württemberg,1,48282,45273,93555,7981,7411,15392,56263,52684,108947,Germany
2,2000-12-31,Baden-Württemberg,2,49526,46826,96352,8128,7813,15941,57654,54639,112293,Germany
3,2000-12-31,Baden-Württemberg,3,51550,48941,100491,8509,8026,16535,60059,56967,117026,Germany
4,2000-12-31,Baden-Württemberg,4,50966,48167,99133,8063,7889,15952,59029,56056,115085,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2938,2020-12-31,Thüringen,86,4426,7701,12127,7,11,18,4433,7712,12145,Germany
2939,2020-12-31,Thüringen,87,2973,5387,8360,9,8,17,2982,5395,8377,Germany
2940,2020-12-31,Thüringen,88,2468,4925,7393,11,11,22,2479,4936,7415,Germany
2941,2020-12-31,Thüringen,89,2079,4335,6414,11,3,14,2090,4338,6428,Germany
2942,2020-12-31,Thüringen,90,5812,17402,23214,24,45,69,5836,17447,23283,Germany

creating engine to export the table to postgres

In [20]:
from sql import engine
print(engine)

Engine(postgresql+psycopg2://soniashabani:***@data-analytics-course.c8g8r1deus2v.eu-central-1.rds.amazonaws.com:5432/postgres)

importing the table to postgres

In [21]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table
table_name = 'population'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This will take a minute or two...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        population.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        # schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The population table was imported successfully.